<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PolitiParser</title>
  <link href="/static/submit.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="header2">
      <h1 class = "center">Prediction</h1>
  </div>

  <div class="header3">
      <h2> {{winner}} </h2>
  </div>

  <div class="header3">
    <a href="/">Back to home</a>
  </div>
</body>

</html>