

.header2 {
  font-family: 'Fira Sans Extra Condensed';

  text-align: center;
/*  margin-left: 30%;  */
/*  margin-right: 30%; */
  margin-bottom: 20px;

  background: #002a7c;
  color: white;
  font-size: 30px;
  padding: 10px;

  border-radius: 4px;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.3); 
}

.header3 {
  font-family: 'Fira Sans Extra Condensed';
  text-align: center;
  margin-left: 20%; 
  margin-right: 20%;
  margin-bottom: 20px;
  margin-top: 30px; 

  background: #263238;
  color: white;
  font-size: 30px;
  padding: 10px;

  border-radius: 4px;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
}

.header3 > a {
 /* dumb hack to get the "back to home" button look nice cause im lazy */
  text-decoration: none; 
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px; 
  margin-left: 20%; 
  margin-right: 20%;
  font-size: 20px; 
}


.row-item {  
  color: white;
  font-family: 'Fira Sans Extra Condensed';
  padding: 10px;
  border-radius: 4px;
}

.conservative {
  background: #c30303;
}

.neutral {
  background: #d4cdcd;  
}

.liberal {
  background: #002a7c;
}